.form-content {
  min-height: 700px;
  background: #fff;
  margin: 0 auto;
  card {
    border-radius: 0;
  }
  .form-link {
    text-decoration: none;
    color: #2e5bff;
  }
  .left-content-form > form {
    min-height: 700px;
  }
  .form-pading {
    padding: 4rem 5rem;
  }

  .left-content-form-1 {
    background-color: #2e5bff;
  }
  .tab-border-bottom-active {
    border-bottom: 3px solid #2e5bff;
  }

  .tab-border-bottom-inactive {
    border-bottom: 3px solid #e0e7ff;
  }

  .button-primary {
    background-color: #2e5bff;
  }
  /* Small (sm) */
  @media (max-width: 640px) {
    .sign-up-form-first-images{
      width: 0;
    }
  }
}
