.form-content {
  min-height: 700px;
  background: #fff;
  card {
    border-radius: 0;
  }
  .form-link {
    text-decoration: none;
    color: #2e5bff;
  }
  .left-content-form > form {
    min-height: 700px;
  }
  .form-pading {
    padding: 4rem 5rem;
  }

  .left-content-form-1 {
    background-color: #2e5bff;
  }
  .left-content-form-2 {
    background-color: #f9faff;
  }
  .tab-border-bottom-active {
    border-bottom: 3px solid #2e5bff;
  }

  .tab-border-bottom-inactive {
    border-bottom: 3px solid #e0e7ff;
  }

  .button-primary {
    background-color: #2e5bff;
  }

  .form-content-background {
    background: url("/assets/images/form-content-background.png") no-repeat;
  }

  .form-content-background-2 {
    background: url("/assets/images/form-content-background-2.png") no-repeat;
  }

  .text-brown {
    color: #a99a77;
  }
  .tab-border-bottom-inactive-brown {
    border-bottom: 3px solid #e0e7ff;
  }
  .tab-border-bottom-active-brown {
    border-bottom: 3px solid #a99a77;
  }
  .button-brown {
    background-color: #a99a77;
  }

  /* Small (sm) */
  @media (max-width: 640px) {
    .sign-up-form-first-images {
      width: 0;
    }

    .sign-up-form-third-images {
      width: 0;
    }
  }
}
